<script type="text/javascript" src="tools/js/tipped.js"></script>
<link rel="stylesheet" type="text/css" href="tools/css/tipped.css"/>
<script>
  $(document).ready(function () {
    Tipped.create('.item_image');
  });
</script>
{% set rows = 0 %}

{# {% if canEdit %}
  <a href="admin/?p=players&id={{ player.getId() }}" title="Edit in Admin Panel" target="_blank">
    {% set button_name = 'Edit Character' %}
    {% include('buttons.base.html.twig') %}
  </a>
  <br>
{% endif %} #}

<!-- CHARACTER INFORMATION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <div class="TableContainer">
        <div class="CaptionContainer">
          <div class="CaptionInnerContainer">
            <span class="CaptionEdgeLeftTop"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
            <span class="CaptionEdgeRightTop"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
            <span class="CaptionBorderTop"
                  style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
            <span class="CaptionVerticalLeft"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
            <div class="Text">Character Information</div>
            <span class="CaptionVerticalRight"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
            <span class="CaptionBorderBottom"
                  style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
            <span class="CaptionEdgeLeftBottom"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
            <span class="CaptionEdgeRightBottom"
                  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
          </div>
        </div>
        <table class="Table3" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td>
              <div class="InnerTableContainer">
                <table style="width:100%;">
                  <tbody>
                  <tr>
                    <td>
                      <div class="TableContentContainer">
                        <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                          <tbody>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td width="20%" class="LabelV175">Name:</td>
                              <td>{% if skull is not null %}
                                <img src="images/{{ skull }}.gif">
                                {% endif %}
                                {% if player.isOnline() %}
                                  <b style="color: green;">{{ player.getName() }} {{ flag|raw }}</b>
                                {% else %}
                                  <b style="color: red;">{{ player.getName() }} {{ flag|raw }}</b>
                                {% endif %}
                              <div style="float: right"></div>
                            </td>
                          </tr>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Sex:</td>
                            <td>{{ sex }}</td>
                          </tr>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Vocation:</td>
                            <td>{{ vocation }}</td>
                          </tr>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Level:</td>
                            <td>{{ player.getLevel() }}</td>
                          </tr>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Achievement Points:</td>
                            <td>{{ achievementPoints }}</td>
                          </tr>

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Residence:</td>
                            <td>{{ town }}</td>
                          </tr>

                          {% if frags_enabled %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">Frags:</td>
                              <td>{{ frags_count }}</td>
                            </tr>
                          {% endif %}

                          {% if config.characters.balance %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">Balance:</td>
                              <td>
                                <strong style="color: green">$</strong>
                                {% if not player.isHidden() %} {{ player.getBalance() }} Gold Coins.
                                {% else %} <strike>Hidden</strike> {% endif %}
                              </td>
                            </tr>
                          {% endif %}

                          {% if house.found %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">House:</td>
                              <td><a href="">{{ house.name}}</a> {{ house.town ~ house.add }}</a></td>
                            </tr>
                          {% endif %}

                          {% if guild.rank is not null %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">Guild membership:</td>
                              <td>{{ guild.rank }} of the <a href="">{{ guild.link|raw }}</a></td>
                            </tr>
                          {% endif %}

                          {% if marriage_enabled %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">Marital status:</td>
                              <td><a href="">{{ marital_status }}</a></td>
                            </tr>
                          {% endif %}

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Last Login:</td>
                            <td>{% if player.getLastLogin() == 0 %}Never logged in.{% else %}{{ player.getLastLogin()|date("M d Y, H:i:s") }} CEST{% endif %}</td>
                          </tr>

                          {% if comment is not null %}
                            {% set rows = rows + 1 %}
                            <tr bgcolor="{{ getStyle(rows) }}">
                              <td class="LabelV175">Comment:</td>
                              <td>{{ comment|raw }}</td>
                            </tr>
                          {% endif %}

                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            <td class="LabelV175">Account Status:</td>
                            <td>
                              {% if vip_enabled %}
                                Premium Account
                              {% else %}
                                Free Account
                              {% endif %}
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
<br>
<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">Player Achievements</div>
      <span class="CaptionVerticalRight"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>

  {% if achievements|length > 0 %}
    <div style="top: 15px;" id="AchievementsCollapse" class="BigToggleButton"
         onclick="CollapseTable('AchievementsCollapseContainer'); $('#labelshow').html($('#labelshow').html() == 'show' ? 'hide' : 'show');"
         onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the Achievements list.', '');"
         onmouseout="$('#HelperDivContainer').hide();">
      <div id="Indicator_AchievementsCollapseContainer" class="CircleSymbolMinus"
           style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
    </div>

        <table class="Table3" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer" id="AchievementsCollapseContainer" style="display: none">
            <table style="width:100%;">
              <tbody>
              <tr>
                <td>
                  <div class="TableContentContainer">
                    <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                      <tbody>
                      {% set i = 0 %}
                      {% if achievementPoints > 0 %}
                        <tr bgcolor="{{ getStyle(rows) }}">
                        <td colspan="2">Total Achievements: {{ achievements|length }}
                        </td>
                        </tr>
                        {% for achievement in achievements %}
                          {% set i = i + 1 %}
                          {% set rows = rows + 1 %}
                          <tr bgcolor="{{ getStyle(rows) }}">
                            {% if achievement.grade == 1 %}
                              <td><img src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                       alt="Tibia Achievement"></td>
                            {% endif %}
                            {% if achievement.grade == 2 %}
                              <td><img src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                       alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"></td>
                            {% endif %}
                            {% if achievement.grade == 3 %}
                              <td><img src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                       alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"></td>
                            {% endif %}
                            {% if achievement.grade == 4 %}
                              <td><img src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                       alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"><img
                                  src="{{ BASE_URL }}images/global/general/achievement-grade-symbol.gif"
                                  alt="Tibia Achievement"></td>
                            {% endif %}
                            <td style="width: 75%;">
                              {{ achievement.name }}
                              {% if achievement.secret == 1 %}
                                <img class="SecretAchievementIcon"
                                     src="{{ BASE_URL }}images/global/general/achievement-secret-symbol.gif"
                                     alt="Tibia Secret Achievement">
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}

                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    {% else %}
    <table class="Table3" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer">
            <table style="width:100%;">
              <tbody>
              <tr>
                <td>
                  <div class="TableContentContainer">
                    <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                      <tbody>
                          <tr bgcolor="{{ getStyle(rows) }}">
                          <td style="text-align: center;">There are no achievements set to be displayed for this character.</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  {% endif %}
</div>
<br>

{{ hook(constant('HOOK_CHARACTERS_BEFORE_DEATHS')) }}

{% if deaths|length > 0 %}
  <!-- DEATHS -->
  <div class="TableContainer">
    <div class="CaptionContainer">
      <div class="CaptionInnerContainer">
        <span class="CaptionEdgeLeftTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionBorderTop"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionVerticalLeft"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <div class="Text">Character Deaths</div>
        <span class="CaptionVerticalRight"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <span class="CaptionBorderBottom"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionEdgeLeftBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      </div>
    </div>
    <div style="top: 15px;" id="DeathsCollapse" class="BigToggleButton"
         onclick="CollapseTable('DeathsCollapseContainer'); $('#labelshow').html($('#labelshow').html() == 'show' ? 'hide' : 'show');"
         onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the list of Deaths.', '');"
         onmouseout="$('#HelperDivContainer').hide();">
      <div id="Indicator_DeathsCollapseContainer" class="CircleSymbolMinus"
           style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
    </div>
    <table class="Table3" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer" id="DeathsCollapseContainer" style="display: none">
            <table style="width:100%;">
              <tbody>
              <tr>
                <td>
                  <div class="TableContentContainer">
                    <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                      <tbody>
                      {% set i = 0 %}
                      {% for death in deaths %}
                        {% set i = i + 1 %}
                        {% set rows = rows + 1 %}
                        <tr bgcolor="{{ getStyle(rows) }}">
                          <td width="25%">{{ death.time|date("j M Y, H:i") }}</td>
                          <td>{{ death.description|raw }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <!-- DEATHS_END -->
{% endif %}



{% if frags|length > 0 %}
  <!-- FRAGS -->
  <div class="TableContainer">
    <div class="CaptionContainer">
      <div class="CaptionInnerContainer">
        <span class="CaptionEdgeLeftTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionBorderTop"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionVerticalLeft"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <div class="Text">Character Frags</div>
        <span class="CaptionVerticalRight"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <span class="CaptionBorderBottom"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionEdgeLeftBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      </div>
    </div>
    <div style="top: 15px;" id="FragsCollapse" class="BigToggleButton"
         onclick="CollapseTable('FragsCollapseContainer'); $('#labelshow').html($('#labelshow').html() == 'show' ? 'hide' : 'show');"
         onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the list of Frags.', '');"
         onmouseout="$('#HelperDivContainer').hide();">
      <div id="Indicator_FragsCollapseContainer" class="CircleSymbolMinus"
           style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
    </div>
    <table class="Table3" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer" id="FragsCollapseContainer" style="display: none">
            <table style="width:100%;">
              <tbody>
              <tr>
                <td>
                  <div class="TableContentContainer">
                    <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                      <tbody>
                      {% set i = 0 %}
                      {% for frag in frags %}
                        {% set i = i + 1 %}
                        <tr bgcolor="{{ getStyle(i) }}">
                          <td width="20%" align="center">{{ frag.time|date("j M Y, H:i") }}</td>
                          <td>{{ frag.description|raw }}({% if frag.unjustified %}<span
                            style="color: red; font-size: 10px">Unjustified</span>{% else %}<span
                            style="color: green; font-size: 10px">Justified</span>{% endif %})
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <!-- FRAGS_END -->
{% endif %}

{{ hook(constant('HOOK_CHARACTERS_BEFORE_SIGNATURE')) }}
{% if config.signature_enabled %}
  <!-- SIGNATURE -->
  <div class="TableContainer">
    <div class="CaptionContainer">
      <div class="CaptionInnerContainer">
        <span class="CaptionEdgeLeftTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightTop"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionBorderTop"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionVerticalLeft"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <div class="Text">Character Signature</div>
        <span class="CaptionVerticalRight"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
        <span class="CaptionBorderBottom"
              style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
        <span class="CaptionEdgeLeftBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
        <span class="CaptionEdgeRightBottom"
              style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      </div>
    </div>
    <div style="top: 15px;" id="FragsCollapse" class="BigToggleButton"
         onclick="CollapseTable('FragsCollapseContainer'); $('#labelshow').html($('#labelshow').html() == 'show' ? 'hide' : 'show');"
         onmouseover="ActivateHelperDiv($(this), '', 'Click here to view the Signature.', '');"
         onmouseout="$('#HelperDivContainer').hide();">
      <div id="Indicator_FragsCollapseContainer" class="CircleSymbolMinus"
           style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
    </div>
    <table class="Table5" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer" id="FragsCollapseContainer" style="display: none">
            <table style="width:100%;">
              <tbody>
              <tr>
                <td>
                  <div class="TableContentContainer">
                    <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                      <tbody>
                      <tr>
                        <td align="center">
                          <script type="text/javascript">
                            function copyData(containerid) {
                              var range = document.createRange();

                              range.selectNode(containerid);
                              window.getSelection().removeAllRanges();
                              window.getSelection().addRange(range);
                              document.execCommand("copy");
                              window.getSelection().removeAllRanges();
                            }
                          </script>
                          <img src="{{ signature_url }}" alt="Signature for player {{ player.getName() }}">
                        </td>
                        <td>
                          <table class="TableContent" width="100%">
                            <tr>
                              <td class="LabelV80">Website:</td>
                              <td><input type="text" id="inputSignatureWebsite" class="input_clipboard"
                                         value="<a href=&quot;{{ player_link }}&quot;><img src=&quot;{{ signature_url }}&quot;></a>"
                                         style="width: 100%;" onclick="this.select()"></td>
                              <td>
                                <button onclick="copyData(inputSignatureWebsite)" class="btn_clipboard">Copy</button>
                              </td>
                            </tr>
                            <tr>
                              <td class="LabelV80">Forum:</td>
                              <td><input type="text" id="inputSignatureForum" class="input_clipboard"
                                         value="[URL={{ player_link }}][IMG]{{ signature_url }}[/IMG][/URL]"
                                         style="width: 100%;"></td>
                              <td>
                                <button onclick="copyData(inputSignatureForum)" class="btn_clipboard">Copy</button>
                              </td>
                            </tr>
                            <tr>
                              <td class="LabelV80">Direct link:</td>
                              <td><input type="text" id="inputSignatureDirectLink" class="input_clipboard"
                                         value="{{ signature_url }}" style="width: 100%;"></td>
                              <td>
                                <button onclick="copyData(inputSignatureDirectLink)" class="btn_clipboard">Copy</button>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <!-- SIGNATURE_END -->
{% endif %}
{{ hook(constant('HOOK_CHARACTERS_AFTER_SIGNATURE')) }}

<!-- ACCOUNT INFORMATION -->
<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">Account Information</div>
      <span class="CaptionVerticalRight"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom"
            style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom"
            style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>
  <table class="Table3" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td>
        <div class="InnerTableContainer">
          <table style="width:100%;">
            <tbody>
            <tr>
              <td>
                <div class="TableContentContainer">
                  <table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
                    <tbody>
                    {% set group = player.getGroup() %}
                    {% if group.isLoaded() and group.getId() != 1 %}
                      {% set rows = rows + 1 %}
                      <tr bgcolor="{{ getStyle(rows) }}">
                        <td class="LabelV175">Position:</td>
                        <td>{{ group.getName()|capitalize }}</td>
                      </tr>
                    {% endif %}
                    {% set rows = rows + 1 %}
                    {% if account.getLoyaltyPoints() > 0 %}
                      {% set rows = rows + 1 %}
                      <tr bgcolor="{{ getStyle(rows) }}">
                        <td class="LabelV175">Loyalty Title:</td>
                        <td>{{ account.getLoyaltyTitle() }}</td>
                      </tr>
                    {% endif %}
                    {% set rows = rows + 1 %}
                    <tr bgcolor="{{ getStyle(rows) }}">
                      <td class="LabelV175">Created:</td>
                      <td>{{ account.getCreated()|date("d M Y, g:i:s") }} CET
                        {% if bannedUntil matches '/^\\d+$/' or bannedUntil == '-1' %}
                          <span style="color: red">[Banished {% if bannedUntil == '-1' %}forever{% else %}until {{ bannedUntil|date('d F Y, h:s') }}{% endif %}]</span>
                        {% else %}
                          {{ bannedUntil|raw }}
                        {% endif %}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      {% if not hidden %}
        {% set rows = 0 %}
        <div class="TableContainer">
          <div class="CaptionContainer">
            <div class="CaptionInnerContainer">
              <span class="CaptionEdgeLeftTop"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
              <span class="CaptionEdgeRightTop"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
              <span class="CaptionBorderTop"
                    style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
              <span class="CaptionVerticalLeft"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
              <div class="Text">Characters</div>
              <span class="CaptionVerticalRight"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
              <span class="CaptionBorderBottom"
                    style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
              <span class="CaptionEdgeLeftBottom"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
              <span class="CaptionEdgeRightBottom"
                    style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
            </div>
          </div>
          <table class="Table3" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td>
                <div class="InnerTableContainer">
                  <table style="width:100%;">
                    <tbody>
                    <tr>
                      <td>
                        <div class="TableContentContainer">
                          <table class="TableContent" width="100%">
                            <tbody>
                            <tr bgcolor="{{ config.darkborder }}">
                              <td width="20%"><B>Name</b></td>
                              <td width="10%"><B>Level</b></td>
                              <td width="70%"><b>Status</b></td>
                              <td><b>&#160;</b></td>
                            </tr>
                            {% set i = 0 %}
                            {% for player in account_players %}
                              {% if not player.isHidden() and (config('characters')['deleted'] or not player.isDeleted()) %}
                                {% set i = i + 1 %}
                                <tr bgcolor="{{ getStyle(i) }}">
                                  <td>
                                    <nobr>{{ i }}.&#160;{{ player.getName() }}{% if player.isDeleted() %}<span
                                        style="color: red"> [DELETED]</span>{% endif %}</nobr>
                                  </td>
                                  <td>{{ player.getLevel() }}</td>
                                  <td>{% if player.isOnline() %}<b style="color: #00bf00;">online</b>{% endif %}</td>
                                  <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                      <form action="{{ characters_link }}" method=post>
                                        <tr>
                                          <td style="border: 0;">
                                            <input type="hidden" name="name" value="{{ player.getName() }}"/>
                                            {% set button_name = "View" %}
                                            {% set button_title = player.getName() %}
                                            {{ include('buttons.base.html.twig') }}
                                          </td>
                                        </tr>
                                      </form>
                                    </table>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      {% endif %}

      {{ hook(constant('HOOK_CHARACTERS_AFTER_CHARACTERS')) }}

      {# {% if canEdit %}
        <br>
        <a href="admin/?p=players&id={{ player.getId() }}" title="Edit in Admin Panel" target="_blank">
          {% set button_name = 'Edit Character' %}
          {% include('buttons.base.html.twig') %}
        </a>
      {% endif %} #}
    </td>
  </tr>
</table>
<br/>{{ search_form|raw }}
