<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">
        <center>
          <font color="yellow">The server save of the game occurs every day at {{serverSave}} <i>(Sydney Time AEDT)</i>
          </font>
        </center>
      </div>
      <span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>
</div>
<br>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px;">
        <tbody>
        <tr>
          <td>
            <div class="TableContainer">
              <div class="CaptionContainer">
                <div class="CaptionInnerContainer">
                <span class="CaptionEdgeLeftTop"
                      style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightTop"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionBorderTop"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionVerticalLeft"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <div class="Text">
                    <div style="height: 16px;">EXP Stages</div>
                  </div>
                  <span class="CaptionVerticalRight"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <span class="CaptionBorderBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionEdgeLeftBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                </div>
              </div>
              <div style="top: 15px;" id="ExpTableCollapse" class="BigToggleButton"
                   onclick="CollapseTable('ExpTableCollapseContainer'); $('#labelshow').html($('#labelshow').html() === 'show' ? 'hide' : 'show');"
                   onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the list of experience rates.', '');"
                   onmouseout="$('#HelperDivContainer').hide();">
                <div id="Indicator_ExpTableCollapseContainer" class="CircleSymbolMinus"
                     style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
              </div>
              <table class="Table3" cellpadding="0" cellspacing="0" style="width: 100%">
                <tbody>
                <tr>
                  <td>
                    <div class="InnerTableContainer" id="ExpTableCollapseContainer" style="display: none; margin: 0;">
                      <table class="TableContent" width="100%">
                        <tbody>
                        <tr>
                          <th>From level</th>
                          <th>To level</th>
                          <th>Exp rate</th>
                        </tr>
                        {% set i = 0 %}
                        {% for result in rateStages.experienceStages %}
                          {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>{{ result.minlevel }}</td>
                            <td>{% if result.maxlevel is not empty %} {{ result.maxlevel }} {% else %} - {% endif %}</td>
                            <td>{{ result.multiplier }}x</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px;">
        <tbody>
        <tr>
          <td>
            <div class="TableContainer">
              <div class="CaptionContainer">
                <div class="CaptionInnerContainer">
                <span class="CaptionEdgeLeftTop"
                      style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightTop"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionBorderTop"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionVerticalLeft"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <div class="Text">
                    <div style="height: 16px;">Skill Stages</div>
                  </div>
                  <span class="CaptionVerticalRight"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <span class="CaptionBorderBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionEdgeLeftBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                </div>
              </div>
              <div style="top: 15px;" id="SkillTableCollapse" class="BigToggleButton"
                   onclick="CollapseTable('SkillTableCollapseContainer'); $('#labelshow').html($('#labelshow').html() === 'show' ? 'hide' : 'show');"
                   onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the list of skill rates.', '');"
                   onmouseout="$('#HelperDivContainer').hide();">
                <div id="Indicator_SkillTableCollapseContainer" class="CircleSymbolMinus"
                     style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
              </div>
              <table class="Table3" cellpadding="0" cellspacing="0" style="width: 100%">
                <tbody>
                <tr>
                  <td>
                    <div class="InnerTableContainer" id="SkillTableCollapseContainer" style="display: none; margin: 0;">
                      <table class="TableContent" width="100%">
                        <tbody>
                        <tr>
                          <th>From level</th>
                          <th>To level</th>
                          <th>Skill rate</th>
                        </tr>
                        {% set i = 0 %}
                        {% for result in rateStages.skillsStages %}
                          {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>{{ result.minlevel }}</td>
                            <td>{% if result.maxlevel is not empty %} {{ result.maxlevel }} {% else %} - {% endif %}</td>
                            <td>{{ result.multiplier }}x</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 10px;">
        <tbody>
        <tr>
          <td>
            <div class="TableContainer">
              <div class="CaptionContainer">
                <div class="CaptionInnerContainer">
                <span class="CaptionEdgeLeftTop"
                      style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightTop"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionBorderTop"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionVerticalLeft"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <div class="Text">
                    <div style="height: 16px;">Magic Stages</div>
                  </div>
                  <span class="CaptionVerticalRight"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
                  <span class="CaptionBorderBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
                  <span class="CaptionEdgeLeftBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                  <span class="CaptionEdgeRightBottom"
                        style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
                </div>
              </div>
              <div style="top: 15px;" id="MagicTableCollapse" class="BigToggleButton"
                   onclick="CollapseTable('MagicTableCollapseContainer'); $('#labelshow').html($('#labelshow').html() === 'show' ? 'hide' : 'show');"
                   onmouseover="ActivateHelperDiv($(this), '', 'Click here to expand the list of magic rates.', '');"
                   onmouseout="$('#HelperDivContainer').hide();">
                <div id="Indicator_MagicTableCollapseContainer" class="CircleSymbolMinus"
                     style="position: absolute; height: 18px; width: 18px; top: -8px; right: -8px; z-index: 99; cursor: pointer; background-image: url({{ BASE_URL }}templates/tibiacom/images/global/content/circle-symbol-plus.gif);"></div>
              </div>
              <table class="Table3" cellpadding="0" cellspacing="0" style="width: 100%">
                <tbody>
                <tr>
                  <td>
                    <div class="InnerTableContainer" id="MagicTableCollapseContainer" style="display: none; margin: 0;">
                      <table class="TableContent" width="100%">
                        <tbody>
                        <tr>
                          <th>From level</th>
                          <th>To level</th>
                          <th>Magic rate</th>
                        </tr>
                        {% set i = 0 %}
                        {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>0</td>
                            <td>80</td>
                            <td>10x</td>
                          </tr>
                          {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>81</td>
                            <td>100</td>
                            <td>7x</td>
                          </tr>
                          {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>101</td>
                            <td>120</td>
                            <td>4x</td>
                          </tr>
                          <tr>
                            <th>Knight and Paladin Rate</th>
                            <th></th>
                            <th></th>
                          </tr>
                          {% set i = i + 1 %}
                          <tr bgcolor="{{ getStyle(i) }}">
                            <td>0</td>
                            <td>-</td>
                            <td>6x</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">
        <font color="white">About Server</font>
      </div>
      <span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>
  <table class="Table3" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer">
            <table style="width:100%;">
              <tbody>
                <tr>
                  <td>
                    <div class="TableContentContainer">
                      <table border="0" cellpadding="4" cellspacing="1" width="100%">
                        <tbody>
                          <tr bgcolor="#F1E0C6">
                            <td width="50%">
                              <b>World Type </b>
                            </td>
                            <td>{{worldType}}</td>
                          </tr>
                          <tr bgcolor="#D4C0A1">
                            <td width="50%">
                              <b>Loot Rate</b>
                            </td>
                            <td>{{rateLoot}}x</td>
                          </tr>
                          <tr bgcolor="#F1E0C6">
                            <td width="50%">
                              <b>Bestiary Rate</b>
                            </td>
                            <td>{{rateBestiary}}x</td>
                          </tr>
                          <tr class="Odd"></tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="TableContainer">
  <div class="CaptionContainer">
    <div class="CaptionInnerContainer">
      <span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <div class="Text">
        <font color="white">Party bonus</font>
      </div>
      <span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
      <span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
      <span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
      <span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
    </div>
  </div>
  <table class="Table3" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <div class="InnerTableContainer">
            <table style="width:100%;">
              <tbody>
                <tr>
                  <td>
                    <div class="TableContentContainer">
                      <table border="0" cellpadding="4" cellspacing="1" width="100%">
                        <tbody>
                          <tr bgcolor="#D4C0A1">
                            <td width="70%">Party with players of the <b>same vocation </b>
                            </td>
                            <td><b>20%</b> Bonus
                            </td>
                          </tr>
                          <tr bgcolor="#F1E0C6">
                            <td>Party with <b>two</b> different vocations</td>
                            <td><b>30%</b> Bonus
                            </td>
                          </tr>
                          <tr bgcolor="#D4C0A1">
                            <td>Party with <b>three</b> different vocations</td>
                            <td><b>60%</b> Bonus
                            </td>
                          </tr>
                          <tr bgcolor="#F1E0C6">
                            <td>Party with <b>four</b> different vocations</td>
                            <td><b>100%</b> Bonus
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div style="text-align:center">
<div class="TableContainer">
   <div class="CaptionContainer">
      <div class="CaptionInnerContainer">
         <span class="CaptionEdgeLeftTop" style="background-image:url(templates/myaac/images/global/content/box-frame-edge.gif);"></span>
         <span class="CaptionEdgeRightTop" style="background-image:url(templates/myaac/images/global/content/box-frame-edge.gif);"></span>
         <span class="CaptionBorderTop" style="background-image:url(templates/myaac/images/global/content/table-headline-border.gif);"></span>
         <span class="CaptionVerticalLeft" style="background-image:url(templates/myaac/images/global/content/box-frame-vertical.gif);"></span>
         <div class="Text">
            <font color="white">Vocations regeneration</font>
         </div>
         <span class="CaptionVerticalRight" style="background-image:url(templates/myaac/images/global/content/box-frame-vertical.gif);"></span>
         <span class="CaptionBorderBottom" style="background-image:url(templates/myaac/images/global/content/table-headline-border.gif);"></span>
         <span class="CaptionEdgeLeftBottom" style="background-image:url(templates/myaac/images/global/content/box-frame-edge.gif);"></span>
         <span class="CaptionEdgeRightBottom" style="background-image:url(templates/myaac/images/global/content/box-frame-edge.gif);"></span>
      </div>
   </div>
   <table class="Table2" cellpadding="0" cellspacing="0">
      <tbody>
         <tr>
            <td>
               <div class="InnerTableContainer">
                  <table style="width:100%;">
                     <tbody>
                        <tr>
                           <td>
                              <div class="TableContentContainer">
                                 <table border="0" cellpadding="4" cellspacing="1" width="100%">
                                    <tbody><tr bgcolor="#D4C0A1">
                                       <td width="20%">
                                          <b>Knight
                                       </b></td>
                                       <td>
                                          <table border="0" cellpadding="4" cellspacing="1" width="100%">
                                             <tbody><tr bgcolor="#505050">
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      MP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      Promote HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      Promote MP
                                                   </font>
                                                </center></td>
                                             </tr>
                                             <tr bgcolor="#D4C0A1">
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											</tr>

                                          </tbody></table>
                                       </td>
                                    </tr>
                                    <tr bgcolor="#F1E0C6">
                                       <td width="20%">
                                          <b>Paladin
                                       </b></td>
                                       <td>
                                          <table border="0" cellpadding="4" cellspacing="1" width="100%">
                                             <tbody><tr bgcolor="#505050">
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      MP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      Promote HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      Promote MP
                                                   </font>
                                                </center></td>
                                             </tr>
                                             <tr bgcolor="#F1E0C6">
											   <td width="25%">
												  <center>
													 <b>10</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>10</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>10</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>10</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											</tr>

                                          </tbody></table>
                                       </td>
                                    </tr>
                                    <tr bgcolor="#D4C0A1">
                                       <td width="20%">
                                          <b>Sorcerer
                                       </b></td>
                                       <td>
                                          <table border="0" cellpadding="4" cellspacing="1" width="100%">
                                             <tbody><tr bgcolor="#505050">
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      MP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      Promote HP
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      Promote MP
                                                   </font>
                                                </center></td>
                                             </tr>
                                             <tr bgcolor="#D4C0A1">
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											</tr>

                                          </tbody></table>
                                       </td>
                                    </tr>
                                    <tr bgcolor="#F1E0C6">
                                       <td width="20%">
                                          <b>Druid
                                       </b></td>
                                       <td>
                                          <table border="0" cellpadding="4" cellspacing="1" width="100%">
                                             <tbody><tr bgcolor="#505050">
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      HP 
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      MP 
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#FA8072">
                                                      </font><center><font color="#FA8072">
                                                      Promote HP 
                                                   </font>
                                                </center></td>
                                                <td width="25%">
                                                   <font color="#00BFFF">
                                                      </font><center><font color="#00BFFF">
                                                      Promote MP 
                                                   </font>
                                                </center></td>
                                             </tr>
                                             <tr bgcolor="#D4C0A1">
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>4</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>5</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											   <td width="25%">
												  <center>
													 <b>20</b>
													 <small>every <b>3</b> seconds
												  </small></center><small>
											   </small></td>
											</tr>
 
                                          </tbody></table>
                                       </td>
                                    </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
  <br>
  Please report rule violations (Botters, players breaking rules etc) with CTRL + R.
</div>
